.board{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bolder;
  overflow:hidden;
  font-size: 18px;
  padding:5px 10px;
  margin-top:20px;
  margin-left:65px;
  width:282px;
  min-height:90px;
  max-height: 500px;
  height: 90px;
  background: lightgray;
  border-radius: 10px;
}