.main{
  height: 600px;
  display: flex;
  justify-content: center;
  overflow:hidden;
}
.conteiner-image{
  height:100%;
  width:1200px;
  overflow:hidden; 
  position: relative;
}
.image{
  height: 100%;
  position: absolute;
  width: 100%;
  overflow:hidden; 
  transition: transform 0.4s linear;
}
.back{
  position: relative;
  display: flex;
  flex-direction:column;
  width:200px;
  height:50%;
  overflow:hidden;
}
.next{
  position: relative;
  display: flex;
  flex-direction:column;  
  width:200px;  
  height:50%;  
  overflow:hidden;           
}
.buttonBack,.buttonNext{
  position: absolute;
  left:25%;
  bottom:0;
  height:25%;
  background-color: white;
  border-radius: 10px;
  width:50%;
  font-size:50px;
  outline: none;
  cursor: pointer;
}
.imageNext{
  height:25%;
}
.imageBack{
  height:25%;
}
.buttonBack:focus,.buttonNext:focus{
  border: 5px solid black;
}
.buttonBack:hover,.buttonNext:hover{
  background-color: gray;
}
