@font-face{
  font-family:'Ariel';
  src:url(Font/ArialBlack.ttf);
}
h2{
   width:10cm;
   height: 1cm;
  background-color: rgb(255,255,0);
}
div{
  background-color: #FFA500;
  width:40vw;
  height: 45vh;
  font-family: Ariel;
  font-size: 10pt;
}
p{
  background-color: rgba(0,0,255,0.2);
  font-family: 'Calibri';
  font-style: italic;
  font-size: 10pt;
  height: 10rem;
  width: 40rem;
}
table{
   font-weight: bolder;
  background-image: url(background.jpg);
  width:20%;

}
img{
  width: 15em;
  height: 15em;
}
