#way1{
  width: 100px;
  height: 100px;
  background-color: red;
  border: 5px solid black;
  margin-bottom: 20px;
}
#way2{
  width: 100px;
  height: 100px;
  background-color: red;
  outline:5px solid black;
  margin-bottom: 20px;
}
#way3{
  width: 100px;
  height: 100px;
  background-color: red;
  box-shadow: 0 0 0 5px black;
  margin-bottom: 20px;
}
#way4{
  width: 100px;
  height: 100px;
  background-color: red;
  outline: 2px solid black; 
  border: 3px solid white;
  margin-bottom: 20px;
}
#way5{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10px;
  border:10px double white;
  margin-bottom: 20px;
}