#field { 
  position:relative; 
  display:inline-block; 
}
#label {
  position:absolute; 
  left:5px; 
  transition: all .4s linear;
  top:15px; 
  color: #999;
}
input { 
  margin-top:30px; 
  border:1px solid #999; 
  padding:3px 5px; 
  border-radius: 12px;
}
input:invalid + #label{
  opacity:0; 
}
input:valid + #label{ 
  opacity:1;
}
input:focus {
  outline:none; 
}
input:focus + #label { 
  color:blue; 
}