@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto.ttf');
  src: url('Font/Robotolight.ttf')
}
body{
  margin:0;
  font-family: 'Roboto';

}
#header{
  position: fixed;
  display: flex;
  width: 100%;
  height: 56px;
  background: #0067A3;
  font-size: 28px;
}
#blockNameAndNavicon{
  position: relative;
  width: 18.5%;
  flex:50%;
  height: 36px;
  left: 0.8%;
  top: 10px;
}
#navicon{
  position: absolute;
  left:0;
  width:6%;
  height:38px;

}
#name{
  position: absolute;
  left:5%;
  width:90%;
  height: 100%;
  color:white;
  padding-left:10px;
  white-space: nowrap;
}
#blockCreateAndPersonal{
  display: flex;
  flex:50%;
  justify-content: flex-end;
}
#create{
  background-color:white;
  border-radius: 5px;
  width: 181px;
  height: 33px;
  margin-right: 6%;
  margin-top: 10px;
  border:0;
}
#personalAvatar{
  margin-right: 28px;
  margin-top: 8px
}
#arrow{
  position: absolute;
  width:24px;
  height: 100%;
  right:1px;
  top:0;
}
#arrow:before,
#arrow:after{
  content: '';
  position: absolute;
  top:28px;
  width: 12px;
  height: 0.1em;
  background-color: white;
}
#arrow::before {
  left:2px;
  transform: rotate(45deg);
}
#arrow::after {
  left:10px;
  transform: rotate(-45deg);
}
#footer{
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 56px;
  background: #0067A3;
  justify-content: space-between;
  color:white;
  font-size: 18px;
}
#footerTask{
  flex:50%;
  margin-top:16px;
}
#footerInfo{
  display: flex;
  flex:48%;
  margin-top:16px;
  justify-content: flex-end;
  margin-right:2%;
}
#activeTask{
  margin-left:10%;
}
#finishedTask{
  margin-left:5%;
}